In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("database.csv", sep=",")

In [16]:
data.head(50)

,Source,Locality,Type of property,Subtype of property,Price,Type of sale,Number of rooms,Area,Fully equipped kitchen,Furnished,Open fire,Terrace,Terrace Area,Garden,Garden Area,Surface of the land,Surface area of the plot of land,Number of facades,Swimming pool,State of the building
0,logic-immo.be,2970,apartment,NaN,319799.0,regular sale,1.0,NaN,0.0,0.0,0.0,1.0,11.0,0.0,NaN,NaN,NaN,NaN,0.0,NaN
1,logic-immo.be,2970,apartment,NaN,291999.0,regular sale,1.0,NaN,0.0,0.0,0.0,1.0,6.0,0.0,NaN,NaN,NaN,NaN,0.0,NaN
2,logic-immo.be,2970,apartment,NaN,764999.0,regular sale,2.0,153.0,0.0,0.0,0.0,1.0,62.0,0.0,NaN,NaN,NaN,NaN,0.0,NaN
3,logic-immo.be,2970,apartment,NaN,660264.0,regular sale,3.0,NaN,0.0,0.0,0.0,1.0,160.0,0.0,NaN,NaN,NaN,NaN,0.0,NaN
4,logic-immo.be,3200,apartment,NaN,294999.0,regular sale,2.0,80.0,0.0,0.0,0.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,0.0,NaN
5,logic-immo.be,8211,apartment,NaN,257999.0,regular sale,2.0,NaN,0.0,0.0,0.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,0.0,good
6,logic-immo.be,8211,apartment,NaN,233999.0,regular sale,2.0,90.0,0.0,0.0,0.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,0.0,NaN
7,logic-immo.be,2630,apartment,NaN,329899.0,regular sale,1.0,87.0,0.0,0.0,0.0,1.0,28.0,0.0,NaN,NaN,NaN,NaN,0.0,NaN
8,logic-immo.be,2630,apartment,NaN,258999.0,regular sale,2.0,NaN,0.0,0.0,0.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,0.0,NaN
9,logic-immo.be,2630,apartment,penthouse,359899.0,regular sale,1.0,95.0,0.0,0.0,0.0,1.0,47.0,0.0,NaN,NaN,NaN,4.0,0.0,NaN
10,logic-immo.be,1790,apartment,building,NaN,regular sale,1.0,NaN,0.0,0.0,0.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,0.0,NaN
11,logic-immo.be,4432,apartment,NaN,248999.0,regular sale,3.0,125.0,0.0,0.0,0.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,0.0,NaN
12,logic-immo.be,4432,apartment,penthouse,412299.0,regular sale,2.0,125.0,0.0,0.0,0.0,0.0,NaN,0.0,NaN,NaN,NaN,4.0,0.0,NaN
13,logic-immo.be,9300,apartment,building,NaN,regular sale,NaN,NaN,0.0,0.0,0.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,0.0,NaN
14,logic-immo.be,9300,apartment,building,NaN,regular sale,NaN,NaN,0.0,0.0,0.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,0.0,good
15,logic-immo.be,9300,apartment,building,NaN,regular sale,2.0,NaN,0.0,0.0,0.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,0.0,NaN
16,logic-immo.be,9300,apartment,NaN,144999.0,regular sale,1.0,70.0,0.0,0.0,0.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,0.0,NaN
17,logic-immo.be,9300,apartment,NaN,238999.0,regular sale,1.0,47.0,0.0,0.0,0.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,0.0,NaN
18,logic-immo.be,9300,apartment,NaN,129999.0,regular sale,1.0,67.0,0.0,0.0,0.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,0.0,NaN
19,logic-immo.be,9300,apartment,NaN,144999.0,regular sale,1.0,NaN,0.0,0.0,0.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,0.0,NaN
20,logic-immo.be,9300,apartment,NaN,148999.0,regular sale,1.0,NaN,0.0,0.0,0.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,0.0,NaN
21,logic-immo.be,9300,apartment,NaN,124999.0,regular sale,1.0,65.0,0.0,0.0,0.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,0.0,NaN
22,logic-immo.be,9300,apartment,NaN,161499.0,regular sale,1.0,NaN,0.0,0.0,0.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,0.0,NaN
23,logic-immo.be,9300,apartment,NaN,153999.0,regular sale,1.0,NaN,0.0,0.0,0.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,0.0,NaN
24,logic-immo.be,9300,apartment,NaN,138999.0,regular sale,1.0,60.0,0.0,0.0,0.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,0.0,NaN
25,logic-immo.be,9300,apartment,NaN,114999.0,regular sale,1.0,NaN,0.0,0.0,0.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,0.0,NaN
26,logic-immo.be,9300,apartment,NaN,1849999.0,regular sale,18.0,NaN,0.0,0.0,0.0,0.0,NaN,0.0,NaN,2500.0,2500.0,NaN,0.0,NaN
27,logic-immo.be,9300,apartment,NaN,385434.0,regular sale,2.0,NaN,0.0,0.0,0.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,0.0,NaN
28,logic-immo.be,9300,apartment,NaN,144999.0,regular sale,2.0,NaN,0.0,0.0,0.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,0.0,NaN
29,logic-immo.be,9300,apartment,NaN,343294.0,regular sale,2.0,100.0,0.0,0.0,0.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,0.0,NaN
30,logic-immo.be,9300,apartment,NaN,354973.0,regular sale,2.0,105.0,0.0,0.0,0.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,0.0,NaN
31,logic-immo.be,9300,apartment,NaN,168999.0,regular sale,2.0,NaN,0.0,0.0,0.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,0.0,NaN
32,logic-immo.be,9300,apartment,NaN,248999.0,regular sale,2.0,110.0,0.0,0.0,0.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,0.0,NaN
33,logic-immo.be,9300,apartment,NaN,413619.0,regular sale,2.0,NaN,0.0,0.0,0.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,0.0,NaN
34,logic-immo.be,9300,apartment,NaN,392559.0,regular sale,2.0,NaN,0.0,0.0,0.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,0.0,NaN
35,logic-immo.be,9300,apartment,NaN,238999.0,regular sale,2.0,85.0,0.0,0.0,0.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,0.0,good
36,logic-immo.be,9300,apartment,NaN,258999.0,regular sale,2.0,110.0,0.0,0.0,0.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,0.0,NaN
37,logic-immo.be,9300,apartment,NaN,586394.0,regular sale,2.0,27.0,0.0,0.0,0.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,0.0,NaN
38,logic-immo.be,9300,apartment,NaN,336519.0,regular sale,2.0,100.0,0.0,0.0,0.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,0.0,NaN
39,logic-immo.be,9300,apartment,NaN,354974.0,regular sale,2.0,105.0,0.0,0.0,0.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,0.0,NaN
40,logic-immo.be,9300,apartment,NaN,336519.0,regular sale,2.0,101.0,0.0,0.0,0.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,0.0,NaN
41,logic-immo.be,9300,apartment,NaN,198999.0,regular sale,2.0,NaN,0.0,0.0,0.0,1.0,12.0,0.0,NaN,NaN,NaN,NaN,0.0,NaN
42,logic-immo.be,9300,apartment,NaN,239499.0,regular sale,2.0,97.0,0.0,0.0,0.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,0.0,NaN
43,logic-immo.be,9300,apartment,NaN,279999.0,regular sale,2.0,NaN,0.0,0.0,0.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,0.0,good
44,logic-immo.be,9300,apartment,NaN,649999.0,regular sale,2.0,187.0,0.0,0.0,0.0,1.0,30.0,0.0,NaN,NaN,NaN,NaN,0.0,NaN
45,logic-immo.be,9300,apartment,NaN,238999.0,regular sale,2.0,NaN,0.0,0.0,0.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,0.0,NaN
46,logic-immo.be,9300,apartment,NaN,247999.0,regular sale,2.0,NaN,0.0,0.0,0.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,0.0,good
47,logic-immo.be,9300,apartment,NaN,244999.0,regular sale,2.0,105.0,0.0,0.0,0.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,0.0,NaN
48,logic-immo.be,9300,apartment,NaN,356415.0,regular sale,2.0,103.0,0.0,0.0,0.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,0.0,NaN
49,logic-immo.be,9300,apartment,NaN,229999.0,regular sale,2.0,NaN,0.0,0.0,0.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,0.0,NaN

In [4]:
del data["Unnamed: 0"]

In [8]:
data.iloc[142]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73547 entries, 0 to 73546
Data columns (total 20 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Source                            73547 non-null  object
 1   Locality                          73547 non-null  int64
 2   Type of property                  73167 non-null  object
 3   Subtype of property               14730 non-null  object
 4   Price                             72543 non-null  float64
 5   Type of sale                      73547 non-null  object
 6   Number of rooms                   72643 non-null  float64
 7   Area                              62275 non-null  float64
 8   Fully equipped kitchen            73547 non-null  float64
 9   Furnished                         53506 non-null  float64
 10  Open fire                         73547 non-null  float64
 11  Terrace                           73547 non-null  float64
 12  Terrace Area                      23283 non-null  float64
 13  Garden                            73547 non-null  float64
 14  Garden Area                       10998 non-null  float64
 15  Surface of the land               34924 non-null  float64
 16  Surface area of the plot of land  34924 non-null  float64
 17  Number of facades                 35912 non-null  float64
 18  Swimming pool                     73547 non-null  float64
 19  State of the building             40529 non-null  object
dtypes: float64(14), int64(1), object(5)
memory usage: 11.2+ MB

In [9]:
data["Swimming pool"].value_counts()

0.0    72458
1.0     1089
Name: Swimming pool, dtype: int64

In [10]:
data["Number of facades"].value_counts()

2.0     17418
4.0      9259
3.0      8820
1.0       411
6.0         2
7.0         1
10.0        1
Name: Number of facades, dtype: int64

In [11]:
data["Open fire"].value_counts()

0.0    70929
1.0     2618
Name: Open fire, dtype: int64

In [12]:
data["Fully equipped kitchen"].value_counts()

0.0    64630
1.0     8917
Name: Fully equipped kitchen, dtype: int64

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73547 entries, 0 to 73546
Data columns (total 20 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Source                            73547 non-null  object
 1   Locality                          73547 non-null  int64
 2   Type of property                  73167 non-null  object
 3   Subtype of property               14730 non-null  object
 4   Price                             72543 non-null  float64
 5   Type of sale                      73547 non-null  object
 6   Number of rooms                   72643 non-null  float64
 7   Area                              62275 non-null  float64
 8   Fully equipped kitchen            73547 non-null  float64
 9   Furnished                         53506 non-null  float64
 10  Open fire                         73547 non-null  float64
 11  Terrace                           73547 non-null  float64
 12  Terrace Area                      23283 non-null  float64
 13  Garden                            73547 non-null  float64
 14  Garden Area                       10998 non-null  float64
 15  Surface of the land               34924 non-null  float64
 16  Surface area of the plot of land  34924 non-null  float64
 17  Number of facades                 35912 non-null  float64
 18  Swimming pool                     73547 non-null  float64
 19  State of the building             40529 non-null  object
dtypes: float64(14), int64(1), object(5)
memory usage: 11.2+ MB

In [14]:
data["State of the building"].value_counts()

good           31891
to renovate     7206
new             1432
Name: State of the building, dtype: int64

In [17]:
data.iloc[142]

Source                              logic-immo.be
Locality                                     1070
Type of property                        apartment
Subtype of property                           NaN
Price                                      178999
Type of sale                         regular sale
Number of rooms                                 1
Area                                           52
Fully equipped kitchen                          0
Furnished                                       0
Open fire                                       0
Terrace                                         1
Terrace Area                                   30
Garden                                          0
Garden Area                                   NaN
Surface of the land                           150
Surface area of the plot of land              150
Number of facades                             NaN
Swimming pool                                   0
State of the building                         NaN
Name: 142, dtype: object

In [19]:
data = data.drop_duplicates()

In [20]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 73478 entries, 0 to 73546
Data columns (total 20 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Source                            73478 non-null  object
 1   Locality                          73478 non-null  int64
 2   Type of property                  73098 non-null  object
 3   Subtype of property               14721 non-null  object
 4   Price                             72474 non-null  float64
 5   Type of sale                      73478 non-null  object
 6   Number of rooms                   72574 non-null  float64
 7   Area                              62218 non-null  float64
 8   Fully equipped kitchen            73478 non-null  float64
 9   Furnished                         53452 non-null  float64
 10  Open fire                         73478 non-null  float64
 11  Terrace                           73478 non-null  float64
 12  Terrace Area                      23253 non-null  float64
 13  Garden                            73478 non-null  float64
 14  Garden Area                       10990 non-null  float64
 15  Surface of the land               34890 non-null  float64
 16  Surface area of the plot of land  34890 non-null  float64
 17  Number of facades                 35868 non-null  float64
 18  Swimming pool                     73478 non-null  float64
 19  State of the building             40484 non-null  object
dtypes: float64(14), int64(1), object(5)
memory usage: 11.8+ MB

In [41]:
data["Locality"].value_counts().sort_values()

4162       1
6441       1
6762       1
5541       1
8956       1
        ...
1180    1137
8300    1219
9000    1280
1050    1280
8400    1416
Name: Locality, Length: 1006, dtype: int64

In [21]:
data["Garden"].value_counts()

0.0    55830
1.0    17648
Name: Garden, dtype: int64

In [22]:
data.drop_duplicates(how="any")

TypeError: drop_duplicates() got an unexpected keyword argument 'how'

In [23]:
data["Type of property"].value_counts()

apartment    37201
house        35897
Name: Type of property, dtype: int64

In [36]:
filt = data["Type of property"] == "apartment"
data.loc[filt, "Number of facades"] = "NaN"
#data.groupby("Type of property")["Number of facades"].count().to_frame()
data.loc[filt, "Number of facades"].value_counts()

C:\Users\spolo\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

NaN    37201
Name: Number of facades, dtype: int64

In [166]:
def change_to_province(code):
    if code >= 1000 and code < 1300:
        return "Brussel"
    elif code >= 1300 and code < 1500:
        return "Brabant Wallon","Wallonia"
    elif (code >= 1500 and code < 2000) or (code >= 3000 and code < 3500):
        return "Brabant Flamand","Flanders"
    elif code >= 2000 and code < 3000:
        return "Anvers","Flanders"
    elif code >= 3500 and code < 4000:
        return "Limbourg","Flanders"
    elif code >= 4000 and code < 5000:
        return "Liège","Wallonia"
    elif code >= 5000 and code < 6000:
        return "Namur","Wallonia"
    elif (code >= 6000 and code < 6600) or (code >= 7000 and code < 8000):
        return "Hainaut","Wallonia"
    elif code >= 6600 and code < 7000:
        return "Luxembourg","Wallonia"
    elif code >= 8000 and code < 9000:
        return "Flandre Occidental","Flanders"
    elif code >= 9000:
        return "Flandre Oriental","Flanders"

In [167]:
data["Province"] = data.apply(lambda x: change_to_province(x["Locality"])[0], axis=1)
data["Region"] = data.apply(lambda x: change_to_province(x["Locality"])[1], axis=1)

<ipython-input-167-d3cf38a28731>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["Province"] = data.apply(lambda x: change_to_province(x["Locality"])[0], axis=1)
<ipython-input-167-d3cf38a28731>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["Region"] = data.apply(lambda x: change_to_province(x["Locality"])[1], axis=1)

In [168]:
data.head()

,Source,Locality,Type of property,Subtype of property,Price,Type of sale,Number of rooms,Area,Fully equipped kitchen,Furnished,...,Garden,Garden Area,Surface of the land,Surface area of the plot of land,Number of facades,Swimming pool,State of the building,Commune,Province,Region
0,logic-immo.be,2970,apartment,NaN,319799.0,regular sale,1.0,NaN,0.0,0.0,...,0.0,NaN,NaN,NaN,NaN,0.0,NaN,Anvers,Anvers,Flanders
1,logic-immo.be,2970,apartment,NaN,291999.0,regular sale,1.0,NaN,0.0,0.0,...,0.0,NaN,NaN,NaN,NaN,0.0,NaN,Anvers,Anvers,Flanders
2,logic-immo.be,2970,apartment,NaN,764999.0,regular sale,2.0,153.0,0.0,0.0,...,0.0,NaN,NaN,NaN,NaN,0.0,NaN,Anvers,Anvers,Flanders
3,logic-immo.be,2970,apartment,NaN,660264.0,regular sale,3.0,NaN,0.0,0.0,...,0.0,NaN,NaN,NaN,NaN,0.0,NaN,Anvers,Anvers,Flanders
4,logic-immo.be,3200,apartment,NaN,294999.0,regular sale,2.0,80.0,0.0,0.0,...,0.0,NaN,NaN,NaN,NaN,0.0,NaN,Brabant Flamand,Brabant Flamand,Flanders